{% extends 'user/base.html' %}
{% load static %}



{% block content  %}

<div class="container" style="text-align: center">
      <div class="card" >



        <div class="card-body"  style="text-align: left">
          <h5 class="card-title">Возможности Сайта</h5>
            {% for i in important %}
            <p>{{ i }}</p>
            {% endfor%}
          {% if user.is_authenticated %}
          <a href="{% url 'forum' %}" class="btn btn-primary">Перейти к обсуждениям</a>
          {% else %}
          <a href="{% url 'login' %}" class="btn btn-primary">Перейти к обсуждениям</a>

          {% endif %}
        </div>
      </div>
</div>

{% endblock %}