   {% extends 'user/base.html' %}

    {% block content %}
    <div class="container">
        <div class="card-body" style="
        margin-top: 7%;;
    margin-left: 22%;
    margin-right: 22%;
    margin-bottom: 7%">
            <form action="{% url 'register' %}" method="POST">
                <div class="form-error">{{form.errors}}</div>
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Создать">
            </form>
        </div>
    </div>
    {% endblock %}
