      {% extends 'user/base.html' %}
      {% block content %}
    <div class="container">
            <div class="row">
                <div class="col-lg-12 col-lg-offset-0">
                <div class="card-body" style="text-align: center">
                        <h1 class="card-title">Темы форума</h1>
                </div>
                    <div class="row">
                        <div class="col-lg-3" >
                               </br>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Важное ( Ведётся разработка )
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for i in important %}
                        <tr><td><a href="/">{{ i }}</a></td>
                            </tr>
                            {% endfor%}
                        </tr>
                        </tbody>
                    </table>
                <table class="table">
                    <thead>
                      <tr style="text-align: center">
                        <th scope="col">Название</th>
                        <th scope="col">Описание</th>
                        <th scope="col">Опубликовано</th>
                          <th scope="col">Автор</th>
                          <th>Редактировать</th>
                      </tr>
                    </thead>
                    <tbody >
                    {% for i in page_obj %}
                    <tr><td><a href="{{ i.get_absolute_url }}" style="font-size: 18px; text-align: center;" class="blue">{{i.title|linebreaks|truncatechars:22}}</a></td>
                        <td>{{i.content|linebreaks|truncatechars:160}}</td>
                        <td style="text-align: center" >{{ i.time_create|date:"H:i d M Y" }}</td>
                        <td style="text-align: center">{{ i.author }}</td>
                        {% if user.id == i.author.id %}
                        <td style="text-align: center"><a href="{{ i.get_absolute_url_edit }} "> Изменить</a>  |
                       <a href="{% url 'delete_page' i.slug %}"> Удалить </a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tr>
                    </tbody>
                  </table>


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Назад</a>
        {% else %}
    <li class="page-item disabled">
      <a class="page-link">Назад</a>
    </li>
      {% endif %}
      {% for i in page_obj.paginator %}
                        {% if i.number == page_obj.number %}
                        <li class="page-item disabled">
                          <a class="page-link">{{ i.number }}</a>
                          {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i.number }}">{{ i.number }} </a></li>
                        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следуюшая</a>
    </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link">Следующая</a>
        </li>
       {% endif %}
  </ul>
</nav>

         {% endblock %}